@import url('../node_modules/@zenhomes/icons/icons/rental/style.css');
@import url('../node_modules/@zenhomes/icons/icons/files/style.css');
@import url('../node_modules/@zenhomes/icons/icons/money/style.css');
@import url('../node_modules/@zenhomes/icons/icons/navigation/style.css');
@import url('../node_modules/@zenhomes/icons/icons/operations/style.css');
@import url('../node_modules/@zenhomes/icons/icons/property-types/style.css');
@import url('../node_modules/@zenhomes/icons/icons/status/style.css');
@import url('../node_modules/@zenhomes/icons/icons/time/style.css');
@import url('../node_modules/@zenhomes/icons/icons/user/style.css');
@import url('../node_modules/@zenhomes/icons/icons/legacy/style.css');

@import '../node_modules/@zenhomes/ui/styles/scss/variables/colors';
@import '../node_modules/@zenhomes/ui/styles/scss/variables/variables';
@import '../node_modules/@zenhomes/ui/styles/scss/main/bootstrap-overrides';

@import '../node_modules/bootstrap-scss/bootstrap';

@import '../node_modules/@zenhomes/ui/styles/scss/main/main';

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: $grey-200;
}

i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'legacy-icons', 'rental-icons', 'files-icons', 'money-icons', 'navigation-icons', 'operations-icons',
        'property-types-icons', 'status-icons', 'time-icons', 'user-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
